/*Begin SECOND PAGE subject choices*/


@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
html, body {
  height: 100%;
}

body {
  background-image: url("https://static.pexels.com/photos/65543/pexels-photo-65543.jpeg");
  background-size: 100%;
  margin: 0;
 /* background: linear-gradient(#eee, #ccc);*/
  overflow: hidden;
}

.first {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: green;
}

.selector {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 140px;
  height: 140px;
  margin-top: -70px;
  margin-left: -70px;
}

.selector, .selector button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.selector button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  /*background: #202020;*/
  background: #FF8000;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all .1s;
}

.selector button:hover {
  /*background: #3071a9;*/
  background: #FF8000;
}

.selector button:focus {
  outline: none;
}

.selector ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
}

.selector li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  transition: all 0.8s ease-in-out;
}

.selector li input {
  display: none;
}

.selector li input + label {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}

.selector li input + label:hover {
  background: #f0f0f0;
}

.selector li input:checked + label {
  /*background: #5cb85c;*/
  background: #202020;
  color: white;
}

.selector li input:checked + label:hover {
  /*background: #449d44;*/
  background: black;
}

.selector.open li input + label {
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

/*/*//*/** Navbar */
/*.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    display: block;
    background: rgba(0, 0, 0, 0.3);
    height: 100px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-brand, .navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}


.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    height: 50px;
    text-decoration: none;
    font-family: "Open Sans", "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
}

.navbar-brand>img {
    display: block;
}
.navbar-btn {
  float: left;
}*/



/*++++++++++++++++++++++++++++++++++++++++++++++++*/
/*.navbar-brand,
.navbar-nav li a {
  line-height: 100px;
  height: 100px;
  padding-top: 0;
}

a.navbar-brand {
  margin-top: 0;
  padding-top: 0;
}

.navbar-default {
  background: rgba(0, 0, 0, 0.3);

}

.navbar-header {
    margin-top: 20px;
    /* line-height: 87px; */
    /*height: 28px;


}

 .navbar-brand {
    padding: 0 10px 0 23px;
    font-size: 24px;
 }*/

 /*ul li {
    margin-top: 30px;
    float:right;
    margin-right: 10px;
 }*/


img {
    vertical-align: middle;
    border: 0;
    padding: 22px;

}

/*#lt {
  font-size: 14px;
  line-height: 1.42857143;
  color: #888888;
  font-family: "Open Sans", "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
}*/

.navbar-nav {
  margin: 0;
}

.navbar-right #lt {
    margin-top: 30px;
    float:right !important;
    margin-right: 40px;

    font-size: 14px;
  line-height: 1.42857143;
  color: white;
  background: grey;
  font-family: "Open Sans", "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
}


/*++++++++++MEDIA QUERY BELOW+++++++++++++++++++++++*/

@media (max-width: 768px) {

  body {
  background-image: url("https://static.pexels.com/photos/65543/pexels-photo-65543.jpeg");
  background-size: 150%;
  margin: 0;
  background-repeat: none;
  overflow: hidden;

  

}

@media (max-width: 600px) {

  body {
  background-image: url("https://static.pexels.com/photos/65543/pexels-photo-65543.jpeg");
  background-size: 230%;
  margin: 0;
 background-repeat: none;
  overflow: hidden;
}

 #pic {

  visibility: hidden;
 }
  
   

  }

/*end SECOND PAGE*/
