/*LOGINPAGE*/
@import url('https://fonts.googleapis.com/css?family=Courgette');

body {
 /* padding-top: 40px;
  padding-bottom: 40px;*/
 /* background-color: lightblue;*/
  background-image: url("../images/loginpagephoto_bw.jpg");
  background-size: 100%;
  /*margin-top: 50px;*/
  font-family: "Open Sans", "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
}

.welcome {
  font-family: Courgette;
  font-size: 45px;
  color: white;
  text-shadow: 2px 2px black;
  text-align: center;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  max-width: 68em;
}

.navbar {
  background: rgba(0,0,0,0.4);
}

.navbar-brand,
.navbar-nav li a {
  line-height: 100px;
  height: 100px;
  padding-top: 0;
}

a.navbar-brand {
  margin-top: 0;
  padding-top: 0;
}

.navbar-default {
  background: rgba(0, 0, 0, 0.3);

}

.navbar-header {
    margin-top: 20px;
    /* line-height: 87px; */
    height: 28px;
}

 .navbar-brand {
    padding: 0 10px 0 23px;
    font-size: 24px;
 }

.navbar-nav li img,
.navbar-nav li p {
  display: inline-block;
  float: left;
  color: white;
}
.navbar-nav li img {
  padding: 0 40px;
}
.navbar-nav li p {
  margin-left: 300px;
  padding: 40px 40px;
}
#name {
  color: white;
}
#center{

  margin: 0 auto;
  /*width: 960px;*/
  text-align: center;
/*  padding: 10px;
  padding-top: -400px;*/
}

.navbar-right {
    margin-top: 30px;
    float:right !important;
    margin-right: 40px;

    font-size: 14px;
  line-height: 1.42857143;
  
  font-family: "Open Sans", "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
}

#lt {

  font-size: 14px;
  line-height: 1.42857143;
  color: white;
  background: grey;
  font-family: "Open Sans", "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
}



/*.container:before {
  filter: blur(0px);
}*/

.container1, .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
.form-signin-heading {
  font-family: "Open Sans", "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
  line-height: 1.5;
}

.btn-block  {
  background: #FF8000;
}

.btn-block:hover {
  background: #CC6600;
}

.buttonArea {
  max-width: 68em;
}

#timer {
  color: white;
  font-size: 24px; 
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 20px;
}

/* settings for questions */

fieldset {
  margin-left: 120px;
  font-size: 22px;
  text-overflow: scroll;
}

#questionStyle{
  font: italic bold;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 70px;
}

.answerBtn {
  /*display: block;
  background-color: lightblue;
  color: black;*/
  text-align: center;
}
.reviewBtn {
  display: block;
  background-color: white;
  color: black;
}
.prevBtn {
  float: left;
}
.nextBtn {
  float: right;
}
.doneBtn {
  float: right;
}

span {
  color: black;
  font-size: 24px;
  padding: 20px;
}
#profile {
  float: right; 
}
#lt {
  margin-top: 30px;
}

#stack {
  margin: auto;
  position: relative;
  width: 600px;
  display: block;
}

.card {
  border: 1px solid #888;
  position: absolute;
  width: 600px;
  height: 360px;
  transform-origin: 0% 0%;
  color: #202020;
}
.card .front {
  background: white;
  font-size: 24pt;
  position: absolute;
  width: 600px;
  height: 360px;
  z-index: 2;
}
.card .front p {
  line-height: 1em;
  text-align: center;
}

#questionStyle {
  
}

._1 {
  top: 0px;
  right: 0px;
  z-index: 3;
}

._2 {
  top: 3px;
  right: 2px;
  z-index: 2;
}

._3 {
  top: 6px;
  right: 4px;
  z-index: 1;
}

._4 {
  top: 9px;
  right: 6px;
  z-index: 0;
}

.topCard {
  z-index: 5;
}
/*end LOGIN style*/

h2, #timer {
  text-align: center;
  color: white;

}

/*navbar page 3 style*/

.navbar-right{
    margin-top: 30px;
    
    margin-right: 10px;
 }
