/*LOGINPAGE*/
@import url('https://fonts.googleapis.com/css?family=Courgette');

body {
 /* padding-top: 40px;
  padding-bottom: 40px;*/
 /* background-color: lightblue;*/
  background-image: url("../images/loginpagephoto_bw.jpg");
  background-size: 100%;
  /*margin-top: 50px;*/
  font-family: "Open Sans", "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
}

.welcome {
  font-family: Courgette;
  font-size: 45px;
  color: white;
  text-shadow: 2px 2px black;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 100px;
  height: 100px;
  padding-top: 0;
}

a.navbar-brand {
  margin-top: 0;
  padding-top: 0;
}

.navbar-default {
  background: rgba(0, 0, 0, 0.3);

}

.navbar-header {
    margin-top: 20px;
    /* line-height: 87px; */
    height: 28px;


}

 .navbar-brand {
    padding: 0 10px 0 23px;
    font-size: 24px;
 }



#center{
  max-width: 330px;
  margin: 0 auto;
  padding-top: 13px;
  
}

#hScore{
  color:white;
}

.navbar-right {
    margin-top: 30px;
    float:right !important;
    margin-right: 40px;

    font-size: 14px;
  line-height: 1.42857143;
  
  font-family: "Open Sans", "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
}

#lt {

  font-size: 14px;
  line-height: 1.42857143;
  color: white;
  background: grey;
  font-family: "Open Sans", "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
}



/*.container:before {
  filter: blur(0px);
}*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin-heading {
  font-family: "Open Sans", "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
  line-height: 1.5;
}

.btn-block  {
  background: #FF8000;
}

.btn-block:hover {
  background: #CC6600;
}



/* settings for questions */

fieldset {
  margin-left: 120px;
  font-size: 22px;
  text-overflow: scroll;
}

#questionStyle{
  font: italic bold;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 70px;

}
#reviewStyle{
  font: italic bold;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;

}

#review {
  margin-bottom: 20px;
}

.answerBtn {
  /*display: block;
  background-color: lightblue;
  color: black;*/
  text-align: center;
}
.reviewBtn {
/*  display: block;
  background-color: lightblue;*/
  color: black;
}
#comment {
  color: black;
  font-size: 24px;
  margin: 0 90px;
}
.prevBtn {
  float: left;
}
.nextBtn {
  float: right;
}
.doneBtn {
  float: right;
}
p {
  color: black;
  font-size: 24px;
}
#profile {
  float: right; 
}

#stack {
  margin: auto;
  position: relative;
  width: 600px;
}

.card {
  border: 1px solid #888;
  position: absolute;
  width: 600px;
  height: 360px;
  transform-origin: 0% 0%;
  color: #202020;
}
.card .front {
  background: white;
  font-size: 24pt;
  position: absolute;
  width: 600px;
  height: 360px;
  z-index: 2;
}
.card .front p {
  line-height: 2em;
  text-align: center;
}


._1 {
  top: 0px;
  right: 0px;
  z-index: 3;
}

._2 {
  top: 3px;
  right: 2px;
  z-index: 2;
}

._3 {
  top: 6px;
  right: 4px;
  z-index: 1;
}

._4 {
  top: 9px;
  right: 6px;
  z-index: 0;
}

.topCard {
  z-index: 5;
}
/*end LOGIN style*/

h2, #timer {
  text-align: center;
  color: white;

}

/*navbar page 3 style*/

.navbar-right{
    margin-top: 30px;
    
    margin-right: 10px;
 }
 .navbar-right {
     margin-top: 30px;
     float:right !important;
     margin-right: 10px;

    font-size: 14px;
   line-height: 1.42857143;
   
  font-family: "Open Sans", "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
 }

 #lt {

  font-size: 14px;
   line-height: 1.42857143;
   color: white;
   background: grey;
   font-family: "Open Sans", "Helvetica Neue", "Liberation Sans", Arial, sans-serif;

 }
#name {
  padding: 0 20px;
  color: white;
  font-size: 18px;
}

#pic {
  padding: 0 20px;
  height: 60px;
}